extends layout

block section 
  #section_top 
    h2=section_title
      | &nbsp;(#{contacts.length})
    a(href="/contacts/new").btn.btn-negro#new_contact
      i.fas.fa-user-plus
      | Nuevo contacto

  if contacts.length > 0
    #contacts 
      each contact, index in contacts
        .contact
          .pic 
            img(src="https://qrickit.com/api/qr.php?d=BEGIN%3AVCARD%0AVERSION%3A3.0%0AN%3A" + contact.lastname +"%3B"+contact.name+"%0AEMAIL%3A"+contact.email+"%0ATEL%3BTYPE%3DCELL%3A"+contact.phone+"%0AADR%3BTYPE%3DHOME%3A%3B%3B"+contact.address+"%3B%3B%3B"+contact.zip+"%0AEND%3AVCARD1" alt="")(id=`profilepic_${contact._id}`)
          form(action=`javascript:deleteContact('${contact._id}')` method="POST")
            .personal-data
              .label-input-group
                label(for="") Nombre:
                input(type="text" name="name" readonly value=`${contact.name}`).form-control
              .label-input-group
                label(for="") Apellido:
                input(type="text" name="lastname" readonly value=`${contact.lastname}`).form-control
              .label-input-group
                label(for="") Número de teléfono:
                // input(type="tel" name="phone" readonly value=`${contact.phone}`).form-control
                a(href=`tel:${contact.phone}`).form-control #{contact.phone}
            .address-data
              .label-input-group
                label(for="") Email: 
                input(type="text" name="email" readonly value=`${contact.email}`).form-control
              .label-input-group
                label(for="") Dirección: 
                input(type="text" name="address" readonly value=`${contact.address}`).form-control
              .label-input-group
                label(for="") Código postal: 
                input(type="text" name="zip" readonly value=`${contact.zip}`).form-control
            .contact-links 
              span
              if contact.fav
                span.star.filled(id=`star_${contact._id}`)
                  i.fas.fa-star.fa-2x
              else 
                span.star.empty(id=`star_${contact._id}`)
                  i.fas.fa-star.fa-2x
              a(href=`/contacts/edit/${contact._id}`).btn.btn-negro.btn-edit
                i.fas.fa-user-cog
                | Detalles
              button(type="submit").btn.btn-negro.btn-delete
                i.fas.fa-user-slash
                | Eliminar
  else
    #no_results
      h3=no_results
    script.
      let section_top = document.getElementById("section_top").clientHeight;
      document.getElementById("no_results").style.height = `calc(100% - ${section_top}px)`;